@media (min-width: 770px) {
    .header {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.75);
        color: white;
        top: 0;
        height: 100px;
        width: 100vw;
        border-bottom: 2px solid var(--secondBackground);
    }

    .navButton {
        display: none;
    }
    .navbar{
        display: none;
    }
    .borderLin{
        padding-left: 15px;
        border-left: 1px solid #171717;
    }
    .navigation {
        display: flex;
        gap: 20px;
        padding-right: 100px;
        padding-left: 100px;
    }
    .navigation a{
        margin: 0;
        font-size: 1.3em;
        color: #171717;
    }
    .navigation a:hover{
        border-bottom: 2px solid #171717;
    }

    .logo{
        transition: transform 0.3s ease;
        padding: 0;
        padding-right: 10px;
    }
    .logo img {
        height: 90px;
        transition: transform 0.3s ease;
    }
    .logo:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 2em var(--secondBackground));
    }

    .menu-icon {
        display: none;
    }
}


@media (max-width: 770px) {
    .header {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: var(--secondBackground);
        color: white;
        top: 0;
        height: 70px;
        width: 100vw;
        z-index: 10001;
    }
        .space{
            display: block;
        }
        .logo img{
            margin-right: 20px;
        }
        .navbar {
            display: none;
            flex-direction: column;
            background-color: var(--secondBackground);
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
        .menu-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 50px;
            height: 30px;
            padding-left: 20px;
            cursor: pointer;
            z-index: 1000;
        }
        .menu-icon div {
            width: 100%;
            height: 4px;
            background-color: #ffffff;
            border-radius: 2px;
            transition: all 0.3s ease;
        }


        .navbar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .navbar ul li {
            padding: 10px;
            text-align: center;
        }
        .navbar ul li a {
            color: #000000;
        }
        .navbar ul Link {
            text-decoration: none;
            color: #ffffff;
            display: block;
        }
        .navigation {
            display: none !important;
        }
        .navButton{
            display: block;
        }
        .logo img {
            height: 50px !important;
        }
        *{
            box-sizing: border-box;
        }
}
